.container table  {
    max-width: 800px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid #ddd;
  } 
  .title{
    text-align: center; 
  }
  tr{
    text-align: center;
  }
  th {
    background-color: #04AA6D;
    color: white;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  form {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  form:nth-child(even){background-color: #f2f2f2}